package loginview

import (
    "github.com/aaron-smits/templ-starter/view/layout"
)

templ Login(){
    @layout.Base(){
        <h1>
            This is the login page 
        </h1>
        <form action="/login" method="POST">
            <button type="submit" value="github">
                Login with Github
            </button>
        </form>
    }
}